<section>
  <div class="container content">
    <h5 class="text-5 highlight-text">About me</h5>
    <h2 class="text-2 white-text">My Profesional Profile</h2>
    <p class="text-6 white-text">
      Ingeniero en software egresado de la Universidad Politécnica de Quintana
      Roo, con un experiencia en el desarrollo web. Me apasiona la tecnología y
      estoy en busca de oportunidades para seguir creciendo profesionalmente y
      mejorar mis habilidades.
    </p>
    <a
      href="assets/documents/Juan_Avalos_curriculum(ESP).pdf"
      download
    >
      <button class="primary-btn yellow-btn">Download My CV</button>
    </a>
  </div>
</section>
