<div class="main-content">

  <nav class="navbar-desktop">

    <div class="nav-links-container">
      <ul class="nav-links" [ngClass]="showMenu ? 'showMenu' : ''">
        <li *ngFor="let link of siteLinks">
          <!-- <a [routerLink]="link.route" [routerLinkActive]="'router-link-active'" [routerLinkActiveOptions]={exact:true}>
            {{ link.name }}
          </a> -->
          <a [href]="link.route" [routerLinkActive]="'router-link-active'" [routerLinkActiveOptions]={exact:true}>
            {{ link.name }}
          </a>
        </li>
      </ul>
    </div>

    <div class="hamburger" (click)="showMenu = !showMenu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</div>

<nav class="movile-navbar" [ngClass]="showMenu ? 'showMenu' : ''">
  <div class="close-menu-btn">
    <div class="close-btn" (click)="showMenu = !showMenu">
      <img class="close-btn" src="assets/icons/close.png" alt="" />
    </div>
  </div>
  <ul>
    <li *ngFor="let link of siteLinks">
      <a
        (click)="showMenu = !showMenu"
        [href]="link.route"
        ><p class="text-1">{{ link.name }}</p></a
      >
    </li>
  </ul>
</nav>
