

.main-content {
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: transparent;
  height: min-content;
  // height: 100px;
}

.navbar-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-links-container{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  padding: 10px 20px;
  border-bottom: 1px solid #8C8C8C;
}

.navbar-desktop-dark{
  background-color: var(--black-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--main-font);
  transition: all 0.3s;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.showMenu {
  transform: translateX(0) !important;
}

.movile-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-desktop {
    width: 100%;
    border: none;
    height: 60px;
    justify-content: end;
    background-color: black;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .movile-navbar {
    z-index: 10;
    width: 100%;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.4s;
  }
  .close-menu-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .close-btn{
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
  }

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
  ul li {
    list-style: none;
    min-width: 250px;
    text-align: center;
  }
  ul li a {
    color: var(--primary-color);
    text-decoration: none;
    display: inline-flex;
    transition: 0.5s;
    text-align: center;
  }
  ul li a p {
    text-align: center;
  }
  ul:hover li a {
    color: #845001;
  }
  ul li:hover a {
    color: var(--primary-color);
  }
}

.router-link-active{
  color: var(--primary-color)!important;
}
