<section>
  <div class="container content">
    <h5 class="text-5 highlight-text">Acerca de Mi</h5>
    <h2 class="text-2 white-text">Mi Perfil Profesional</h2>
    <p class="text-6 white-text">
      Ingeniero en software
      <strong>egresado de la Universidad Politécnica de Quintana Roo</strong>,
      con experiencia en el <strong>desarrollo web</strong>. Mi pasión por la
      tecnología me impulsa a buscar oportunidades que me permitan
      <strong>seguir creciendo profesionalmente</strong> y
      <strong> perfeccionar mis habilidades</strong>.
    </p>

    <p class="text-6 white-text">
      He desempeñado el rol de
      <strong>desarrollador de software full stack</strong> en una empresa
      alrededor de <strong>un año</strong>, donde he adquirido diversas de
      <strong>habilidades técnicas y blandas</strong> como la comunicación, la
      gestión de tiempo y el trabajo en equipo , además de seguir
      <strong>estudiando de manera autodidacta</strong> sobre nuevas tecnologías
      y buenas prácticas en mi tiempo libre.
    </p>
    <a
      href="assets/documents/Juan_Avalos_curriculum(ESP).pdf"
      download
      style="text-decoration: none"
    >
      <shared-primary-btn [btnText]="'Descargar mi CV'"></shared-primary-btn>
    </a>
  </div>
</section>
