<section class="animate__animated animate__fadeIn animate__faster" id="about-me">
  <div class="container content">
    <h5 class="text-5 highlight-text">Acerca de Mí</h5>
    <h2 class="text-2 white-text">Mi Perfil Profesional</h2>
    <p class="text-6 white-text">
      Ingeniero en software
      <strong>egresado de la Universidad Politécnica de Quintana Roo</strong>,
      cuento con una amplia experiencia en el <strong>desarrollo y mantenimiento
      de aplicaciones web</strong> de multiples tipos de proyectos
      usando tecnologías como <strong>React</strong>, <strong>Angular</strong>,
      <strong>Laravel</strong> y <strong>.NET</strong>.

    </p>

    <p class="text-6 white-text">
      Me apasiona crear soluciones funcionales y escalables,
      y disfruto enfrentar retos que me permitan <strong>crecer como profesional</strong>
      y perfeccionar mis habilidades además de <strong>seguir aprendiendo</strong> en mi tiempo libre.
    </p>
    <a
      href="assets/documents/Juan_Avalos_curriculum(ESP).pdf"
      download
      style="text-decoration: none"
    >
      <shared-primary-btn [btnText]="'Descargar CV'"></shared-primary-btn>
    </a>
  </div>
</section>
