<section>
  <div class="container content">
    <div class="titles">
      <h5 class="text-5 highlight-text">Conoce acerca de</h5>
      <h2 class="text-2 white-text">Mi Experiencia Laboral</h2>
    </div>

    <div class="cards-container">
      <div class="card-wrapper" *ngFor="let work of works">
        <div class="card">
          <div class="card-indicator">
            <div class="point"></div>
            <div class="line"></div>
          </div>
          <div class="card-content">
            <p class="white-text text-3">{{ work.workPlace | titlecase }}</p>
            <p class="white-text text-6" [innerHTML]="work.description"></p>

            <div class="img-container">
              <img [src]="work.img" alt="project image" />
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-spacer">
      </div>
    </div>
  </div>
</section>
