<section class="animate__animated animate__fadeIn animate__faster">
  <div class="container content">
    <h5 class="text-5 highlight-text">Habilidades</h5>
    <h2 class="text-2 white-text">Tecnologías Que Utilizo</h2>

    <div class="cards-container">
      <div *ngFor="let skill of skills, let i = index">
        <div class="card" (mouseenter)="isHover(i)" [ngClass]="i == hoveredElementIndex ? 'activeCard':''">
          <div class="no-gradient-background">
            <div class="img-container">
              <img [src]="skill.img" alt="" class="skill-img" />
            </div>
            <p class="skill-name white-text">{{ skill.name }}</p>
            <p class="skill-description white-text">{{ skill.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
