@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'spartan-regular';
  src: url('../fonts/spartan/Spartan-Regular.ttf');
}

@font-face {
  font-family: 'spartan-bold';
  src: url('../fonts/spartan/Spartan-Bold.ttf');
}

@font-face {
  font-family: 'spartan-light';
  src: url('../fonts/spartan/Spartan-Light.ttf');
}
