<section class="animate__animated animate__fadeIn animate__faster" id="home">
  <div class="container content">
    <div class="img-container">
      <img
        src="assets/images/juan-avalos.webp"
        alt="juan avalos photo"
        class="avatar-img"
        width="170px"
        height="170px"
        loading="lazy"
      />
    </div>
    <h1 class="text-4 highlight-text">¡Hola! Soy Juan Avalos</h1>
    <h2 class="text-1 white-text">Front End Developer</h2>
    <p class="text-6 white-text">
      <strong>Ingeniero en software</strong> enfocado en el desarrollo de
      páginas y aplicaciones web, con hbailidades en programación de
      <strong>Frontend y Backend</strong>
    </p>

    <div class="btns-container">
      <a
        href="https://wa.me/529984935945"
        target="_blank"
        rel="contact juan avalos"
      >
        <shared-primary-btn [btnText]="'Contactar'"></shared-primary-btn>
      </a>
      <a href="#about-me">
        <button class="primary-btn transparent-btn">Acerca de mí</button>
      </a>
    </div>
  </div>
  <div class="contact-container">
    <a *ngFor="let link of contactLinks" [href]="link.link" target="_blank">
      <button class="contact-link-btn">
        <img
          [src]="link.img"
          [alt]="link.alt"
          class="contact-icon"
          loading="lazy"
        />
      </button>
    </a>
  </div>
</section>
